@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: none;
    font-size: 15;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: auto;
}

body {
    background-color: #282A3A;
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

/* -----NAVIGATION BAR----- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20222c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px black;
}

.logo {
    width: 50px;
    height: 50px;
    border: 2px solid #E06C75;
    border-radius: 6px;
    display: flex;
    transition: ease-in-out .1s;
    position: relative;
    left: 30px;
}

.header .logo a > img {
    width: 3.8rem;
    height: 3rem;
    transform: translateX(-0.5rem);
}

.logo:hover {
    transform: translate(-2px, -2px);
    box-shadow: rgba(224, 108, 117, 0.4) 0.12rem 0.08rem,
                rgba(224, 108, 117, 0.3) 0.14rem 0.12rem, 
                rgba(224, 108, 117, 0.2) 0.16rem 0.16rem;
}

.logo:active {
    transform: scale(0.95);
    box-shadow: rgba(224, 108, 117, 0) 1.5px 1.5px,
                rgba(224, 108, 117, 0) 2px 2px, 
                rgba(224, 108, 117, 0) 3px 3px;
}

nav {
    align-items: center;
    display: flex;
}

.nav {
    z-index: 100;
}

nav > div > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    font-size: medium;
    list-style-type: none;
    padding: 0;
}

.nav .nums {
    color: #E06C75;
}

.nav li > a {
    text-decoration: none;
    margin-left: 25px;
    padding: 0.2rem;
    display: block;
    color: #ccd6f6;
    font-weight: 500;
    position: relative;
}

.nav li > a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E06C75;
    margin-left: 4px;
    transition: ease-in-out .3s;
}

.nav li > a.contact::before {
    transform: translateX(0.5px);
}

.nav li > a.projects::before {
    transform: translateX(0.5px);
}

.nav li > a.experience::before {
    transform: translateX(0.5px);
}

.nav li > a.about:hover::before {
    width: 92%;
}

.nav li > a.projects:hover::before {
    width: 93.8%;
}

.nav li > a.contact:hover::before {
    width: 92.8%;
}

.nav li > a.experience:hover::before {
    width: 95%;
}

.nav .items {
    transition: ease-in-out .3s;
}

.nav li > a:hover {
    color: #E06C75;
}

.header .nav li > a {
    transition: ease-in-out .1s;
}

.header .nav li > a:active {
    transform: scale(0.9);
}

button.resume {
    margin-right: 2em;
    margin-left: 30px;
    border: 2px solid rgb(224, 108, 117);
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #ccd6f6;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: ease-in-out .2s;
}
  
button.resume:hover {
    transform: translate(-2px, -2px);
    box-shadow: rgba(224, 108, 117, 0.4) 0.12rem 0.08rem,
                rgba(224, 108, 117, 0.3) 0.14rem 0.12rem, 
                rgba(224, 108, 117, 0.2) 0.16rem 0.16rem;
    color: #E06C75;
}

button.resume:active {
    transition: ease-in-out .1s;
    transform: scale(0.95);
    box-shadow: rgba(224, 108, 117, 0) 1.5px 1.5px,
                rgba(224, 108, 117, 0) 2px 2px, 
                rgba(224, 108, 117, 0) 3px 3px;
}

.header_toggle, .header_close {
    display: none;
}

/* Small border bar for animation */
.border-bar {
    width: 100%;
    height: 3px;
    background-color: #E06C75;
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 999;
    transform: translateY(-10px);
    transition:  ease-in-out 0.35s, ease-in-out 0.3s;
}

/* When the nav is shown, show the border bar */
.nav.show + .border-bar {
    opacity: 1;
    transform: translateY(2rem);
}

/* ----Small-Screen Navigation Bar Media Queries---- */
@media screen and (max-width: 770px) {
    .header {
        justify-content: space-between;
        padding: 0 0;
    }

    .logo {
        z-index: 999;
    }

    .header_toggle {
        display: inline;
        color: #eeee;
        font-size: 24px;
        padding-right: 1em;
        cursor: pointer;
        z-index: 999;
        transition: 0.2s;
    }

    .header_toggle:hover {
        transform: scale(1.2);
    }

    .header_toggle:active {
        transform: scale(1);
    }

    .nav {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #20222c;
        color: #ccd6f6;
        width: 100%;
        height: 60vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: ease-in-out .35s;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0;
    }

    .nav a.page-links {
        margin: 1rem 0;
        text-align: center;
        width: 100%;
    }

    button.resume {
        margin-top: 1rem;
        margin-left: 2.5rem;
    }

    .show {
        top: 3em;
    }
}
/* ------Laptop Screen-Size Media Queries------ */
@media screen and (min-width: 771px) and (max-width: 1600px) {
    .border-bar {
        display: none;
    }

    /* ------Main Section of the Webpage------ */
    main {
        padding: 0 1em;
    }

    [role=region] {
        padding: 10rem 0 0 0;
    }

    /* ----------Home--------- */
    #home {
        padding: 8em 1em 1em 1em;
        margin: 0 0 0 200px
    }

    #home p {
        color: #E06C75;
    }

    #home h1 {
        display: flex;
    }

    #home #name {
        margin: 1rem 0 0 0;
        font-size: 50px;
        color: #ccd6f6;
    }

    #home .smilely-face {
        display: flex;
        position: relative;
        top: 5px;
        left: 5px;
        z-index: 1;
    }

    #home #alt-name {
        position: relative;
        color: #8892b0;
    }

    #home #joke-intro {
        position: relative;
        top: -15px;
        color: #8892b0;
    }

    #home .home-description {
        width: 30rem;
        margin: 2.5rem 0 0 0;
    }

    #home .home-description > p {
        color: #8892b0;
    }

    #home .highlight {
        color: #E06C75;
    }

    #home .message-div {
        margin: 3rem 0 0 0;
    }

    #home .message {
        color: #ccd6f6;
    }

    /* ------Divider------ */
    .divider {
        margin-top: 15vh;
        margin-left: 5vw;
        width: 90%;
        height: 3px;
        background-color: #20222c;
        z-index: 100;
    }

    /* ------About------ */
    #about {
        margin: 0 0 0 200px;
        padding: 5em 0 0 1em;
        display: flex;
        flex-direction: column;
    }

    #about .section-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    #about .section-divider {
        width: 33%;
        height: 1px;
        background-color: #8892b0;
        z-index: 100;
    }

    #about .section-content {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -2rem;
    }

    #about h1 {
        color: #ccd6f6;
        margin-right: 20px;
    }

    #about .highlight {
        color: #E06C75;
    }


    #about .italic {
        font-style: italic;
    }

    #about .about-description {
        width: 40em;
        margin: 2.5em 0 0 0;
        display: flex;
    }

    #about .about-description > p {
        color: #8892b0;
    }

    #about .free-time {
        width: 40em;
        margin: 1.5em 0 0 0;
        display: flex;
    }

    #about .free-time > p {
        color: #8892b0;
    }

    #about .headshot img {
        display: inline-flex;
        position: relative;
        z-index: 100;
        width: 255px;
        height: 255px;
        top: 20px;
        border-radius: 5px;
        transform: translate(50px, 25px);
        padding: 5px;
        border: 2px solid #E06C75;
    }

    #about #MEEE {
        color: rgb(204, 214, 246);
        opacity: 0;
        position: relative;
        top: -7rem;
        left: -15rem;
        display: inline-flex;
        transition: ease-in-out .5s;
    }

    .show2 {
        transform: translateX(17.5rem);
    }

    #about #headshot-arrow {
        z-index: 1;
        top: 2.7px;
        position: relative;
        scale: 1.5;
    }

    #about #arrowww {
        position: relative;
        top: 1rem;
    }

    #about #MEEE-sizing {
        position: relative;
        width: 200px;
        top: -0.3rem;
        margin-left: 15px;
    }
}

/* ------1920x1080p Screen-Size Media Queries------ */
@media screen and (min-width: 1601px) and (max-width: 1920px) {
    .border-bar {
        display: none;
    }

    /* ------Main Section of the Webpage------ */
    main {
        padding: 0 1em;
    }

    [role=region] {
        padding: 10rem 0 0 0;
    }

    /* ----------Home--------- */
    #home {
        width: 1600px;
        padding: 15em 0 1em 20em;
        margin: 0 0 0 0;
        scale: 1.2;
    }

    #home p {
        color: #E06C75;
    }

    #home h1 {
        display: flex;
    }

    #home #name {
        margin: 1rem 0 0 0;
        font-size: 50px;
        color: #ccd6f6;
    }

    #home .smilely-face {
        display: flex;
        position: relative;
        top: 5px;
        left: 5px;
        z-index: 1;
    }

    #home #alt-name {
        padding: 0.5rem 0 0 0;
        color: #8892b0;
    }

    #home #joke-intro {
        color: #8892b0;
    }

    #home .home-description {
        width: 30rem;
        margin: 2.5rem 0 0 0;
    }

    #home .home-description > p {
        color: #8892b0;
    }

    #home .highlight {
        color: #E06C75;
    }

    #home .message-div {
        margin: 3rem 0 0 0;
    }

    #home .message {
        color: #ccd6f6;
    }

    /* ------Divider------ */
    .divider {
        margin-top: 15vh;
        margin-left: 5vw;
        width: 90%;
        height: 3px;
        background-color: #20222c;
        z-index: 999;
    }

    /* ------About------ */
    #about {
        margin: 0 0 0 200px;
        padding: 7em 0 0 1em;
    }

    #about h1 {
        color: #ccd6f6;
    }

    #about .highlight {
        color: #E06C75;
    }


    #about .italic {
        font-style: italic;
    }

    #about .about-description {
        width: 40em;
        margin: 2.5em 0 0 0;
    }

    #about .about-description > p {
        color: #8892b0;
    }

    #about .free-time {
        width: 40em;
        margin: 1.5em 0 0 0;
    }

    #about .free-time > p {
        color: #8892b0;
    }

}