@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -----NAVIGATION BAR----- */
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20222c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px black;
    padding: 0 1em;
}

.logo {
    width: 50px;
    height: 50px;
    border: 2px solid #E06C75;
    border-radius: 6px;
    display: flex;
    transition: ease-in-out .2s;
}

.header .logo a > img {
    width: 60px;
    height: 50px;
    transform: translateX(-0.5rem);
}

.logo:hover {
    transform: translate(-2px, -2px);
    box-shadow: rgba(224, 108, 117, 0.4) 1.5px 1.5px,
                rgba(224, 108, 117, 0.3) 2px 2px, 
                rgba(224, 108, 117, 0.2) 3px 3px;
}

.logo:active {
    transform: scale(0.95);
    box-shadow: rgba(224, 108, 117, 0) 1.5px 1.5px,
                rgba(224, 108, 117, 0) 2px 2px, 
                rgba(224, 108, 117, 0) 3px 3px;
}

nav {
    align-items: center;
    display: flex;
}

.nav {
    z-index: 100;
}

nav > div > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    font-size: medium;
    list-style-type: none;
    padding: 0;
}

.nav .nums {
    color: #E06C75;
}

.nav li > a {
    text-decoration: none;
    margin-left: 25px;
    padding: 0.2rem;
    display: block;
    color: #ccd6f6;
    font-weight: 500;
    position: relative;
}

.nav li > a.page-links::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E06C75;
    margin-left: 4px;
    transition: ease-in-out .3s;
}

.nav li > a:hover::before {
    width: 95%;
}

.nav .items {
    transition: ease-in-out .3s;
}

.nav li > a:hover {
    color: #E06C75;
}

button.resume {
    margin-right: 2em;
    margin-left: 30px;
    border: 2px solid rgb(224, 108, 117);
    line-height: 2.5;
    padding: 0 10px;
    font-size: medium;
    text-align: center;
    color: #ccd6f6;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: ease-in-out .2s;
}
  
button.resume:hover {
    transform: translate(-2px, -2px);
    box-shadow: rgba(224, 108, 117, 0.4) 1.5px 1.5px,
                rgba(224, 108, 117, 0.3) 2px 2px, 
                rgba(224, 108, 117, 0.2) 3px 3px;
    color: #E06C75;
}

button.resume:active {
    transition: ease-in-out .1s;
    transform: scale(0.95);
    box-shadow: rgba(224, 108, 117, 0) 1.5px 1.5px,
                rgba(224, 108, 117, 0) 2px 2px, 
                rgba(224, 108, 117, 0) 3px 3px;
}

.header_toggle, .header_close {
    display: none;
}

/* Small border bar for animation */
.border-bar {
    width: 100%;
    height: 3px;
    background-color: #E06C75;
    position: absolute;
    top: 4em;
    left: 0;
    opacity: 0;
    z-index: 999;
    transform: translateY(-10px);
    transition: transform 0.3s, opacity 0.5s;
}

/* When the nav is shown, show the border bar */
.nav.show + .border-bar {
    opacity: 1;
    transform: translateY(0);
}

/* Navigation Bar Media Queries */
@media screen and (min-width: 771px) {
    .border-bar {
        display: none;
    }    
}

@media screen and (max-width: 770px) {
    .header {
        justify-content: space-between;
        padding: 0 1em;
    }

    .logo {
        z-index: 999;
    }

    .header_toggle {
        display: inline;
        color: #eeee;
        font-size: 24px;
        cursor: pointer;
        z-index: 999;
        transition: 0.2s;
    }

    .header_toggle:hover {
        transform: scale(1.2);
    }

    .header_toggle:active {
        transform: scale(1);
    }

    .nav {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #20222c;
        color: #ccd6f6;
        width: 100%;
        height: 60vh;
        transition: 0.5s;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0;
    }

    .nav a.page-links {
        margin: 1rem 0;
        text-align: center;
        width: 100%;
    }

    button.resume {
        margin-top: 1rem;
        margin-left: 2.5rem;
    }

    .show {
        top: 3em;
    }
}


/* Main Section of the Webpage */
body {
    background-color: #2d3336;
    margin: 0;
}

main {
    margin-top: 50px;
    padding: 0 1em;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


