@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

html {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scroll-margin-top: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #282a3a;
    margin: 0;
}

/* -----NAVIGATION BAR----- */
.header {
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 20;
    width: 100%;
    height: 4em;
    z-index: 999;
    background-color: #282a3a;
}

.logo {
    width: 50px;
    height: 50px;
    border: 2px solid #615efc;
    background-color: #20222c;
    border-radius: 6px;
    display: flex;
    transition: ease-in-out 0.2s;
    position: relative;
    /* left: 5.2rem; */
}

.header .logo a > img {
    width: 5rem;
    height: 5rem;
    position: relative;
    top: 1px;
    left: 2px;
    transform: translate(-1rem, -1rem);
}

.logo:hover {
    transform: translate(-0.2rem, -0.2rem);
    box-shadow:
        rgba(97, 94, 252, 0.4) 0.12rem 0.08rem,
        rgba(97, 94, 252, 0.3) 0.14rem 0.12rem,
        rgba(97, 94, 252, 0.2) 0.16rem 0.16rem;
}

.logo:active {
    transform: scale(0.95);
    box-shadow:
        rgba(97, 94, 252, 0) 1.5px 1.5px,
        rgba(97, 94, 252, 0) 2px 2px,
        rgba(97, 94, 252, 0) 3px 3px;
}

nav {
    align-items: center;
    position: relative;
    display: flex;
    /* right: 3.7rem; */
}

.nav {
    z-index: 100;
}

nav > div > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
}

.nav .nums {
    color: #615efc;
}

.nav li > a {
    text-decoration: none;
    margin-left: 25px;
    padding: 0.2rem;
    display: block;
    color: #ccd6f6;
    /* font-weight: 500; */
    position: relative;
}

.nav li > a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #615efc;
    margin-left: 5px;
    transition: ease-in-out 0.3s;
}

.nav li > a.about::before {
    transform: translateX(-0.5px);
}

.nav li > a.projects::before {
    transform: translateX(-0.5px);
}

.nav li > a.experience::before {
    transform: translateX(-1px);
}

.nav li > a.contact::before {
    transform: translateX(-0.5px);
}

.nav li > a.about:hover::before {
    width: 91.5%;
}

.nav li > a.projects:hover::before {
    width: 93%;
}

.nav li > a.contact:hover::before {
    width: 93%;
}

.nav li > a.experience:hover::before {
    width: 95.5%;
}

.nav .items {
    transition: ease-in-out 0.3s;
}

.nav li > a:hover {
    color: #615efc;
}

.header .nav li > a {
    transition: ease-in-out 0.1s;
}

.header .nav li > a:active {
    transform: scale(0.9);
}

button.resume {
    margin-left: 30px;
    border: 2px solid #615efc;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: #ccd6f6;
    border-radius: 5px;
    background-color: #20222c;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: ease-in-out 0.2s;
}

button.resume:hover {
    transform: translate(-0.2rem, -0.2rem);
    box-shadow:
        rgba(97, 94, 252, 0.4) 0.08rem 0.08rem,
        rgba(97, 94, 252, 0.3) 0.12rem 0.12rem,
        rgba(97, 94, 252, 0.2) 0.14rem 0.14rem;
    color: #615efc;
}

button.resume:active {
    transition: ease-in-out 0.1s;
    transform: scale(0.95);
    box-shadow:
        rgba(97, 94, 252, 0) 1.5px 1.5px,
        rgba(97, 94, 252, 0) 2px 2px,
        rgba(97, 94, 252, 0) 3px 3px;
}

.header_toggle {
    display: none;
}

/* Small border bar for animation */
.border-bar {
    width: 100%;
    height: 3px;
    background-color: #615efc;
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 999;
    transform: translateY(-10px);
    transition:
        ease-in-out 0.35s,
        ease-in-out 0.3s;
}

/* When the nav is shown, show the border bar */
.nav.show + .border-bar {
    opacity: 1;
    transform: translateY(2rem);
}

/* ----Small-Screen Navigation Bar Media Queries---- */
@media screen and (max-width: 770px) {
    .header {
        justify-content: space-between;
        padding: 0 0;
    }

    .logo {
        z-index: 999;
    }

    .header_toggle {
        display: inline;
        color: #eeee;
        font-size: 24px;
        padding-right: 1em;
        cursor: pointer;
        z-index: 999;
        transition: 0.2s;
    }

    .header_toggle:hover {
        transform: scale(1.2);
    }

    .header_toggle:active {
        transform: scale(1);
    }

    .nav {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #20222c;
        color: #ccd6f6;
        width: 100%;
        height: 60vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: ease-in-out 0.35s;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0;
    }

    .nav a.page-links {
        margin: 1rem 0;
        text-align: center;
        width: 100%;
    }

    button.resume {
        margin-top: 1rem;
        margin-left: 2.5rem;
    }

    .show {
        top: 3em;
    }
}

/* ------Laptop Screen-Size Media Queries------ */
@media screen and (min-width: 771px) and (max-width: 1600px) {
    .border-bar {
        display: none;
    }

    /* ------Main Section of the Webpage------ */
    main {
        padding: 0 8rem;
    }

    /* ------Header Section of the Webpage------ */
    .header {
        padding: 0 8rem;
        position: fixed;
        width: calc(
            100% - 16rem
        ); /* Reduce the width by 16rem (8rem on each side) */
        display: flex;
    }

    .header .header-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: #282a3a;
        margin: 0;
    }

    .header .header-styles {
        display: flex;
        position: relative;
        width: 100%;
        margin: 0;
    }

    .header .header-divide {
        display: flex;
        background-color: #4d515c;
        border-radius: 10px;
        width: 100%;
        height: 1px;
    }

    /* ------Content of the Webpage------ */

    [role="region"] {
        padding: 10rem 0 0 0;
    }

    /* ----------Home--------- */
    #home {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8em 1em 1em 0;
        margin: 0 0 0 2.5rem;
    }

    #home p {
        color: #615efc;
    }

    #home h1 {
        display: flex;
    }

    #home #name {
        margin: 1rem 0 0 0;
        font-size: 50px;
        color: #ccd6f6;
    }

    #home .smilely-face {
        display: flex;
        position: relative;
        top: 5px;
        left: 5px;
        z-index: 1;
    }

    #home #alt-name {
        position: relative;
        color: #8892b0;
    }

    #home #joke-intro {
        position: relative;
        top: -15px;
        color: #8892b0;
    }

    #home .home-description {
        width: 30rem;
        margin: 2.5rem 0 0 0;
    }

    #home .home-description > p {
        color: #8892b0;
    }

    #home .highlight {
        color: #615efc;
    }

    #home .message-div {
        margin: 3rem 0 0 0;
    }

    #home .message {
        color: #ccd6f6;
    }

    /* ------Divider------ */
    .divider {
        margin-top: 7rem;
        width: 100%;
        height: 3px;
        background-color: #20222c;
        z-index: 100;
    }

    /* ------About------ */
    #about {
        padding: 5em 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        scroll-margin-top: 4rem;
    }

    #about .section-header {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        background-color: #20222c;
        padding: 1rem 1rem 1rem 1rem;
        scale: 0.95;
    }

    #about .section-header h1 {
        margin: 0 20px 0 20px;
        font-size: 2rem;
    }

    #about .section-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: space-between;
        margin-left: 2.5rem;
    }

    #about .section-content.align-left {
        align-self: flex-start;
    }

    #about h1 {
        color: #ccd6f6;
    }

    #about .highlight {
        color: #615efc;
    }

    #about .italic {
        font-style: italic;
    }

    #about .about-description {
        position: relative;
        width: 40em;
        margin: 2.5em 0 0 0;
        display: flex;
    }

    #about .about-description > p {
        color: #8892b0;
    }

    #about .free-time {
        position: relative;
        width: 40em;
        margin: 1.5em 0 0 0;
        display: flex;
    }

    #about .free-time > p {
        color: #8892b0;
    }

    #about .headshot {
        display: flex;
        align-self: center;
        flex-direction: row;
        align-items: center;
    }

    #about .headshot img {
        display: flex;
        position: relative;
        z-index: 100;
        width: 16rem;
        height: 16rem;
        border-radius: 5px;
        transform: translate(1rem, 10px);
        padding: 5px;
        border: 2px solid #615efc;
    }

    #about #MEEE {
        position: relative;
        width: inherit;
        height: 4rem;
        color: rgb(204, 214, 246);
        opacity: 0;
        position: relative;
        top: -1rem;
        display: flex;
        transition: ease-in-out 0.5s;
    }

    .show2 {
        transform: translateX(2.5rem);
    }

    #about #headshot-arrow {
        z-index: 1;
        top: 2.7px;
        position: relative;
        scale: 1.5;
    }

    #about #arrowww {
        position: relative;
        top: 1rem;
    }

    #about #MEEE-sizing {
        position: relative;
        width: 200px;
        top: -0.3rem;
        margin-left: 15px;
    }

    /* ----Experience---- */
    #experience {
        padding: 5em 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        scroll-margin-top: 4rem;
    }

    #experience .section-header {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        background-color: #20222c;
        padding: 1rem 1rem 1rem 1rem;
        scale: 0.95;
    }

    #experience .section-header h1 {
        margin: 0 20px 0 20px;
        font-size: 2rem;
    }

    #experience .section-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        align-items: center;
        /* justify-content: space-between; */
        margin-left: 2.5rem;
    }

    #experience .section-content.align-left {
        align-self: flex-start;
    }

    #experience .highlight {
        color: #615efc;
    }

    #experience h1 {
        color: #ccd6f6;
    }

    /* ----Contact---- */
    #contact {
        padding: 5em 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        scroll-margin-top: 4rem;
    }

    #contact .section-header {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        background-color: #20222c;
        padding: 1rem 1rem 1rem 1rem;
        scale: 0.95;
    }

    #contact .section-header h1 {
        margin: 0 0 0 20px;
        font-size: 2rem;
    }

    #contact .section-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        justify-content: space-between;
        margin-left: 2.5rem;
    }

    #contact .section-content.align-left {
        align-self: flex-start;
    }

    #contact .highlight {
        color: #615efc;
    }

    #contact h1 {
        color: #ccd6f6;
    }

    #contact .contact-message {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 4rem 8rem 0 0;
        position: relative;
        width: 20rem;
    }

    #contact .contact-message h1 {
        position: relative;
        font-size: 50px;
        margin: 0 0 2rem 0;
    }

    #contact .contact-message p {
        width: 25rem;
        color: #8892b0;
    }

    #contact .contact-divide {
        position: relative;
        height: 22.5rem;
        width: 2px;
        border-radius: 5px;
        display: flex;
        background-color: #4d515c98;
        z-index: 100;
        margin: 3rem 0 0 4rem;
    }

    #contact .contact-links {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin: 2rem 0 0 0;
    }

    #contact .contact-button {
        background-color: #20222c;
        padding: 1.5rem;
        position: relative;
        border-radius: 10px;
        color: #ccd6f6;
        border: #615efc solid 3px;
        transition: ease-in-out 0.2s;
    }

    #contact .email a {
        text-decoration: none;
        display: inline-flex;
    }

    #contact .email {
        padding: 0 0 0 0;
    }

    #contact .contact-button:hover {
        cursor: pointer;
        transform: translate(-0.2rem, -0.2rem);
        box-shadow:
            rgba(97, 94, 252, 0.4) 0.12rem 0.08rem,
            rgba(97, 94, 252, 0.3) 0.14rem 0.12rem,
            rgba(97, 94, 252, 0.2) 0.16rem 0.16rem;
        color: #615efc;
    }

    #contact .contact-button:active {
        transition: ease-in-out 0.1s;
        transform: scale(0.95);
        box-shadow:
            rgba(97, 94, 252, 0) 1.5px 1.5px,
            rgba(97, 94, 252, 0) 2px 2px,
            rgba(97, 94, 252, 0) 3px 3px;
    }

    #contact .socials-section {
        background-color: #20222c;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 35rem;
        height: 21rem;
        margin: 0 0 0 0;
        padding: 2rem 2rem 2.5rem 2rem;
        border-radius: 10px;
        transform: scale(0.6);
        top: -5.5rem;
    }

    #contact .socials-row1 {
        display: flex;
        flex-direction: row;
        width: inherit;
        height: 10rem;
        margin: 0 0 1.5rem 20px;
    }

    #contact .socials-row2 {
        display: flex;
        flex-direction: row;
        width: inherit;
        height: inherit;
        align-items: center;
        justify-content: center;
    }

    #contact .socials-section .socials-svgs {
        display: flex;
        position: relative;
        margin: 0 1rem 0 1rem;
        box-sizing: border-box;
    }

    #contact .socials-section a {
        text-decoration: none;
        display: none;
    }

    #contact .socials-section #github-svg {
        border-radius: 100%;
        scale: 1.05;
        background-color: #ccd6f6;
        border: #615efc solid 5px;
        height: inherit;
        width: inherit;
        margin: 0 20px 0 0;
        border-style: inset;
        transition: ease-in-out 0.2s;
    }

    #contact .socials-section #linkedin-svg {
        border-radius: 20px;
        background-color: #ccd6f6;
        border: #615efc solid 6px;
        height: inherit;
        width: inherit;
        border-style: inset;
        transition: ease-in-out 0.2s;
    }

    #contact .socials-section #twitter-svg {
        position: relative;
        height: 10rem;
        width: 35rem;
        scale: 0.9;
        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
        border-radius: 20px;
        fill: #ccd6f6;
        background-color: #000000;
        border: #615efc solid 5px;
        border-style: inset;
        transition: ease-in-out 0.2s;
    }

    #contact .socials-section #instagram-svg {
        position: relative;
        border-radius: 30%;
        height: 10rem;
        width: 10rem;
        padding: 10px;
        right: 1rem;
        background-color: #000000;
        fill: #ccd6f6;
        border: #615efc solid 5px;
        border-style: inset;
        transition: ease-in-out 0.2s;
    }

    #contact .socials-section #discord-svg {
        position: relative;
        height: 10rem;
        width: 10rem;
        padding: 0 0.9rem 0 1rem;
        left: 1rem;
        border-radius: 30%;
        background-color: #000000;
        fill: #ccd6f6;
        border: #615efc solid 5px;
        border-style: inset;
        transition: ease-in-out 0.2s;
    }

    #contact .socials-row1 .socials-svgs:hover {
        cursor: pointer;
        transform: translate(-0.3rem, -0.3rem);
        box-shadow:
            rgba(97, 94, 252, 0.4) 0.18rem 0.14rem,
            rgba(97, 94, 252, 0.3) 0.2rem 0.18rem,
            rgba(97, 94, 252, 0.2) 0.22rem 0.22rem;
    }

    #contact .socials-row1 #twitter-svg.socials-svgs:hover {
        cursor: pointer;
        transform: translate(-0.4rem, -0.4rem);
        box-shadow:
            rgba(97, 94, 252, 0.4) 0.24rem 0.16rem,
            rgba(97, 94, 252, 0.3) 0.28rem 0.24rem,
            rgba(97, 94, 252, 0.2) 0.32rem 0.32rem;
    }

    #contact .socials-row1 .socials-svgs:active {
        transition: ease-in-out 0.1s;
        transform: scale(0.95);
        box-shadow:
            rgba(97, 94, 252, 0) 1.5px 1.5px,
            rgba(97, 94, 252, 0) 2px 2px,
            rgba(97, 94, 252, 0) 3px 3px;
    }

    #contact .socials-row2 .socials-svgs:hover {
        cursor: pointer;
        transform: translate(-0.4rem, -0.4rem);
        box-shadow:
            rgba(97, 94, 252, 0.4) 0.24rem 0.16rem,
            rgba(97, 94, 252, 0.3) 0.28rem 0.24rem,
            rgba(97, 94, 252, 0.2) 0.32rem 0.32rem;
    }

    #contact .socials-row2 .socials-svgs:active {
        transition: ease-in-out 0.1s;
        transform: scale(0.95);
        box-shadow:
            rgba(97, 94, 252, 0) 1.5px 1.5px,
            rgba(97, 94, 252, 0) 2px 2px,
            rgba(97, 94, 252, 0) 3px 3px;
    }

    #contact .socials-row1 #twitter-svg.socials-svgs:active {
        transition: ease-in-out 0.2s;
        transform: scale(0.95);
        box-shadow:
            rgba(97, 94, 252, 0) 1.5px 1.5px,
            rgba(97, 94, 252, 0) 2px 2px,
            rgba(97, 94, 252, 0) 3px 3px;
    }

    footer {
        display: flex;
        position: absolute bottom;
        width: 100%;
        /* flex-direction: column; */
        height: 8rem;
        background-color: #20222c;
        color: #8892b0;
        padding: 0.5rem 0 0 1rem;
    }
}

/* ------1920x1080p Screen-Size Media Queries------ */
@media screen and (min-width: 1601px) {
    .border-bar,
    #error-message {
        display: none;
    }

    /* ------Main Section of the Webpage------ */
    main {
        padding: 0 1em;
    }

    [role="region"] {
        padding: 10rem 0 0 0;
    }

    /* ----------Home--------- */
    #home {
        width: 1600px;
        padding: 12em 0 1em 22rem;
        margin: 0 0 0 0;
        scale: 1.2;
    }

    #home p {
        color: #615efc;
    }

    #home h1 {
        display: flex;
    }

    #home #name {
        margin: 1rem 0 0 0;
        font-size: 50px;
        color: #ccd6f6;
    }

    #home .smilely-face {
        display: flex;
        position: relative;
        top: 5px;
        left: 5px;
        z-index: 1;
    }

    #home #alt-name {
        padding: 0.5rem 0 0 0;
        color: #8892b0;
    }

    #home #joke-intro {
        position: relative;
        top: -15px;
        color: #8892b0;
    }

    #home .home-description {
        width: 30rem;
        margin: 2.5rem 0 0 0;
    }

    #home .home-description > p {
        color: #8892b0;
    }

    #home .highlight {
        color: #615efc;
    }

    #home .message-div {
        margin: 3rem 0 0 0;
    }

    #home .message {
        color: #ccd6f6;
    }

    /* ------About------ */
    #about {
        margin: 0 0 0 200px;
        padding: 7em 0 0 10rem;
        display: flex;
        scale: 1.2;
        flex-direction: column;
        scroll-margin-top: 5rem;
    }

    #about .section-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    #about .section-divider {
        width: 27rem;
        height: 1px;
        background-color: #8892b0;
        z-index: 100;
    }

    #about .section-content {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    #about h1 {
        color: #ccd6f6;
        margin-right: 20px;
    }

    #about .highlight {
        color: #615efc;
    }

    #about .italic {
        font-style: italic;
    }

    #about .about-description {
        width: 40em;
        margin: 1.5em 0 0 0;
        display: flex;
    }

    #about .about-description > p {
        color: #8892b0;
    }

    #about .free-time {
        width: 40em;
        margin: 1.5em 0 0 0;
        display: flex;
    }

    #about .free-time > p {
        color: #8892b0;
    }

    #about .headshot img {
        display: inline-flex;
        position: relative;
        z-index: 100;
        width: 17rem;
        height: 17rem;
        top: 0.2rem;
        border-radius: 5px;
        transform: translate(50px, 25px);
        padding: 5px;
        border: 2px solid #615efc;
    }

    #about #MEEE {
        color: rgb(204, 214, 246);
        opacity: 0;
        position: relative;
        top: -8rem;
        left: -15rem;
        display: inline-flex;
        transition: ease-in-out 0.5s;
    }

    .show2 {
        transform: translateX(17.5rem);
    }

    #about #headshot-arrow {
        z-index: 1;
        top: 2.7px;
        position: relative;
        scale: 1.5;
    }

    #about #arrowww {
        position: relative;
        top: 1rem;
    }

    #about #MEEE-sizing {
        position: relative;
        width: 200px;
        top: -0.3rem;
        margin-left: 15px;
    }
}
